@import "tailwindcss";
@import "uniwind";
@import "heroui-native/styles";
@source '../node_modules/heroui-native/lib';

@theme {
    /* Primitive Colors (Do not change between light and dark) */
    --white: oklch(100% 0 0);
    --black: oklch(0% 0 0);
    --snow: oklch(0.9911 0 0);
    --eclipse: oklch(0.2103 0.0059 285.89);

    /* Base radius */
    --radius: 0.5rem;

    /* Opacity */
    --opacity-disabled: 0.5;
}

@layer theme {
    :root {
        --ac: #9f27f5;
        @variant light {
            --background: oklch(100% 0 0);
            --foreground: var(--eclipse);

            --surface: var(--white);
            --surface-foreground: var(--foreground);

            --overlay: var(--white);
            --overlay-foreground: var(--foreground);

            --muted: oklch(55.2% 0.016 285.938);

            --default: oklch(94% 0.001 286.375);
            --default-foreground: var(--eclipse);

            --accent: oklch(0.6204 0.195 253.83);
            --accent-foreground: var(--snow);

            --field-background: var(--white);
            --field-foreground: oklch(0.2103 0.0059 285.89);
            --field-placeholder: var(--muted);
            --field-border: transparent;
            --success: oklch(0.7329 0.1935 150.81);
            --success-foreground: var(--eclipse);

            --warning: oklch(0.7819 0.1585 72.33);
            --warning-foreground: var(--eclipse);

            --danger: oklch(0.6532 0.2328 25.74);
            --danger-foreground: var(--snow);

            --segment: var(--white);
            --segment-foreground: var(--eclipse);

            --border: oklch(0 0 0 / 0%);
            --divider: oklch(72% 0.004 286.32);
            --link: var(--foreground);

            --surface-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04),
                0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 0 1px 0 rgba(0, 0, 0, 0.06);
            --overlay-shadow:
                0 4px 16px 0 rgba(24, 24, 27, 0.08),
                0 8px 24px 0 rgba(24, 24, 27, 0.09);
            --field-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04),
                0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 0 1px 0 rgba(0, 0, 0, 0.06);
        }

        @variant dark {
            --background: oklch(100% 0 0);
            --foreground: var(--eclipse);

            --surface: var(--white);
            --surface-foreground: var(--foreground);

            --overlay: var(--white);
            --overlay-foreground: var(--foreground);

            --muted: oklch(55.2% 0.016 285.938);

            --default: oklch(94% 0.001 286.375);
            --default-foreground: var(--eclipse);

            --accent: oklch(0.6204 0.195 253.83);
            --accent-foreground: var(--snow);

            --field-background: var(--white);
            --field-foreground: oklch(0.2103 0.0059 285.89);
            --field-placeholder: var(--muted);
            --field-border: transparent;
            --success: oklch(0.7329 0.1935 150.81);
            --success-foreground: var(--eclipse);

            --warning: oklch(0.7819 0.1585 72.33);
            --warning-foreground: var(--eclipse);

            --danger: oklch(0.6532 0.2328 25.74);
            --danger-foreground: var(--snow);

            --segment: var(--white);
            --segment-foreground: var(--eclipse);

            --border: oklch(0 0 0 / 0%);
            --divider: oklch(72% 0.004 286.32);
            --link: var(--foreground);

            --surface-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04),
                0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 0 1px 0 rgba(0, 0, 0, 0.06);
            --overlay-shadow:
                0 4px 16px 0 rgba(24, 24, 27, 0.08),
                0 8px 24px 0 rgba(24, 24, 27, 0.09);
            --field-shadow:
                0 2px 4px 0 rgba(0, 0, 0, 0.04),
                0 1px 2px 0 rgba(0, 0, 0, 0.06), 0 0 1px 0 rgba(0, 0, 0, 0.06);
        }
    }
}
